<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>table</title>
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all">
    <script th:src="@{'/layui/layui.js'}"></script>
</head>
<body>
<Br>
&nbsp;<h1>到货通知单</h1>
<div>
    <div class="layui-inline">
        <input class="layui-input" name="arriveNoticeOrderId" id="arriveNoticeOrderId" placeholder="搜索条件..."
               autocomplete="off">
    </div>
    <button class="layui-btn" id="search">搜索</button>
    <button class="layui-btn" id="reset">重置</button>
</div>
<table id="demo" lay-filter="test"></table>
<script>
    layui.use(['table', 'layer', 'jquery'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.$;
        //第一个实例
        table.render({
            elem: '#demo'
            , url: '/initNotice' //数据接口
            , page: true //开启分页
            , limit: 10 //默认每一页显示的条数
            , limits: [1, 2, 3, 5, 10, 20, 30, 50]//提示的每页条数的列表
            , toolbar: "#addDemo" //显示工具栏
            , title: "采购申请单" //设置导出文件时的标题
            , loading: true
            ,  cols: [
                [ //表头

            {field: 'arriveNoticeOrderId', title: '到货通知编号', width: "20%", sort: true, fixed: 'left', align: "center"}
            , {field: 'inGoodsId', title: '采购订单', width: "20%", align: "center"}
            , {
                field: 'inGoodsArrivedDate',
                title: '到货日期',
                width: "20%",
                sort: true,
                align: "center",
                templet: '<div>{{ layui.util.toDateString(d.bir, "yyyy-MM-dd") }}</div>'
            }
            , {field: 'arriveNoticeOrderDeliverGoodsMan', title: '送货人', width: "20%", align: "center"}
            , {field: 'arriveNoticeOrderStatus', title: '状态', width: "20%", align: "center", sort: true}
        ]
            ]
        });
        var format = function (time, format) {
            var t = new Date(time);
            var tf = function (i) {
                return (i < 10 ? '0' : '') + i
            };
            return format.replace(/yyyy|MM|dd|HH|mm|ss/g, function (a) {
                switch (a) {
                    case 'yyyy':
                        return tf(t.getFullYear());
                        break;
                    case 'MM':
                        return tf(t.getMonth() + 1);
                        break;
                    case 'mm':
                        return tf(t.getMinutes());
                        break;
                    case 'dd':
                        return tf(t.getDate());
                        break;
                    case 'HH':
                        return tf(t.getHours());
                        break;
                    case 'ss':
                        return tf(t.getSeconds());
                        break;
                }
            })

        }
        /*******给搜索按钮绑定事件*************/
        $("#search").click(function(){

            //获得输入框的内容
            var myname = $("#arriveNoticeOrderId").val();
            table.reload('demo', {
                where: { //设定异步数据接口的额外参数，任意设
                    arriveNoticeOrderId :myname
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            }); //只重载数据
        });



        /********给重置按钮绑定事件**************/
        $("#reset").click(function(){
            $("input").val("");
        });



    });
</script>
</body>
</html>