<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all">
    <script th:src="@{'/layui/layui.js'}"></script>
</head>
<body>
<br>
<h1>&nbsp;&nbsp;&nbsp;添加出库装卸单</h1>
<br/>
<form class="layui-form" action="" method="post">
    <table align="center" width="100%">
        <tr >
            <td colspan="2" align="center"><h2>基础信息</h2><hr/></td><td colspan="2" align="center"><h2>检查内容</h2><hr/></td>
        </tr>
        <tr>
            <td align="center" width="15%">出库作业单编号:&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td width="35%"><div class="layui-input-inline">
                <input type="text" name="matter_check_id" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
            </div><br/><br/></td>
            <td align="center" width="15%">开始时间：&nbsp;&nbsp;</td>
            <td width="35%"><div class="layui-input-inline">
                <input type="text" name="date" id="date" lay-verify="date" placeholder="年/月/日" autocomplete="off" class="layui-input">
            </div><br/><br/></td>
        </tr>
        <tr>
            <td align="center" width="15%">装载重量:&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td width="35%"><div class="layui-input-inline">
                <input type="text" name="matter_check_id" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
            </div><br/><br/></td>
            <td align="center" width="15%">装载数量:&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td width="35%"><div class="layui-input-inline">
                <input type="text" name="temperature_check" lay-verify="title" autocomplete="off" class="layui-input">
            </div><br/><br/></td>
        </tr>

        <tr>
            <td align="center" width="15%">结束时间：&nbsp;&nbsp;</td>
            <td width="35%"><div class="layui-input-inline">
                <input type="text" name="date" id="date" lay-verify="date" placeholder="年/月/日" autocomplete="off" class="layui-input">
            </div><br/><br/></td>
            <td align="center" width="15%">装卸人：&nbsp;&nbsp;</td>
            <td width="35%"><div class="layui-input-inline">
                <input type="text" name="temperature_check" lay-verify="title" sautocomplete="off" class="layui-input">
            </div><br/><br/></td>
        </tr>

        <tr>
            <td colspan="4" align="center">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</form>
<script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
            ,trigger: 'click'
        });

        //日期时间选择器
        laydate.render({
            elem: '#test5'
            ,type: 'datetime'
            ,trigger: 'click'
        });

        //日期时间选择器
        laydate.render({
            elem: '#test6'
            ,type: 'datetime'
            ,trigger: 'click'
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });

    });
</script>
</body>
</html>