<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all">
    <script th:src="@{'/layui/layui.js'}"></script>
</head>
<body>
<br>
<h1>&nbsp;&nbsp;&nbsp;添加入库单</h1>
<br/>
<form class="layui-form" action="" method="post">
    <table align="center" width="100%">
        <tr>
            <td colspan="4"><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>基础信息</b></h4><hr/></td>
        </tr>
        <tr>
            <td align="center" width="15%">入库作业单:&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td width="35%"><div class="layui-input-inline">
                <input type="text" name="Stock_check_id" lay-verify="title" autocomplete="off" placeholder="请输入盘点单编号" class="layui-input">
            </div><br/><br/></td>
            <td align="center" width="15%">入库时间:&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td width="35%"><div class="layui-input-inline">
                <input type="text" name="user_id" lay-verify="title" placeholder="请输入盘点人编号" autocomplete="off" class="layui-input">
            </div><br/><br/></td>
        </tr>

        <tr>
            <td align="center" width="15%">仓库编号：&nbsp;&nbsp;</td>
            <td width="35%"><div class="layui-input-inline">
                <input type="text" name="check_date" id="date" lay-verify="date" placeholder="年/月/日" autocomplete="off" class="layui-input">
            </div><br/><br/></td>
            <td align="center" width="15%">状态:&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td width="35%" colspan="3"><div class="layui-input-inline">
                <input type="text" name="warehouse_position_id" lay-verify="title" autocomplete="off" placeholder="请输入仓位编号" class="layui-input">
            </div><br/><br/></td>
        </tr>
    </table>
    <br/>
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>物料详情</b></h4><hr/>
    <table class="layui-table" lay-size="lg" width="80%">
        <colgroup>
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="150">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>物料编号</th>
            <th>物料名称</th>
            <th>物料规格</th>
            <th>物料重量</th>
            <th>物料数量</th>
            <th>盘点数</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <table width="100%">
        <tr>
            <td align="center">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</form>
<script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
            ,trigger: 'click'
        });

        //日期时间选择器
        laydate.render({
            elem: '#test5'
            ,type: 'datetime'
            ,trigger: 'click'
        });

        //日期时间选择器
        laydate.render({
            elem: '#test6'
            ,type: 'datetime'
            ,trigger: 'click'
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });

    });
</script>
</body>
</html>