<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all">
    <script th:src="@{'/layui/layui.js'}"></script>
    <script th:src="@{'/inventoryjs/Stock_check.js'}"></script>
</head>
<body>
<br>
<h1>&nbsp;&nbsp;&nbsp;添加库存单</h1>
<br/>
<form class="layui-form" id="addFrm">
    <table align="center" width="100%">
        <tr>
            <td colspan="4"><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>基础信息</b></h4><hr/></td>
        </tr>
        <tr>
            <td align="center" width="15%">盘点单编号:&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td width="35%"><div class="layui-input-inline">
                <input type="text" name="stockCheckId" lay-verify="title" autocomplete="off" placeholder="请输入盘点单编号" class="layui-input" required="required">
            </div><br/><br/></td>
            <td align="center" width="15%">盘点人:&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td width="35%"><div class="layui-input-inline">
                <input type="text" name="userId" lay-verify="title" placeholder="请输入盘点人编号" autocomplete="off" class="layui-input" required="required">
            </div><br/><br/></td>
        </tr>

        <tr>
            <td align="center" width="15%">盘点日期：&nbsp;&nbsp;</td>
            <td width="35%"><div class="layui-input-inline">
                <input type="text" name="checkDate" id="date" lay-verify="date" placeholder="年/月/日" autocomplete="off" class="layui-input" required="required">
            </div><br/><br/></td>
            <td align="center" width="15%">仓位编号:&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td width="35%" colspan="3"><div class="layui-input-inline">
                <input type="text" name="warehousePositionId" lay-verify="title" autocomplete="off" placeholder="请输入仓位编号" class="layui-input" required="required">
            </div><br/><br/></td>
        </tr>
        <tr>
            <td align="center" width="15%">仓库编号:&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td width="35%"><div class="layui-input-inline">
                <input type="text" name="warehouseId" lay-verify="title" autocomplete="off" placeholder="请输入仓库编号" class="layui-input" required="required">
            </div><br/><br/></td>
            <td align="center" width="15%">仓库区域编号:&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td width="35%"><div class="layui-input-inline">
                <input type="text" name="warehouseRegionId" lay-verify="title" placeholder="请输入仓库区域编号" autocomplete="off" class="layui-input" required="required">
            </div><br/><br/></td>
        </tr>
    </table>
    <br/>
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>物料详情</b></h4><hr/>
        <table class="layui-table" lay-size="lg" width="80%">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>物料编号</th>
                <th>物料名称</th>
                <th>物料规格</th>
                <th>物料重量</th>
                <th>物料数量</th>
                <th>盘点数</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    <table width="100%">
        <tr>
            <td align="center">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</form>
<script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
            ,trigger: 'click'
        });

        //日期时间选择器
        laydate.render({
            elem: '#test5'
            ,type: 'datetime'
            ,trigger: 'click'
        });

        //日期时间选择器
        laydate.render({
            elem: '#test6'
            ,type: 'datetime'
            ,trigger: 'click'
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            $.ajax({
                url:"/addStockCheck",
                type:"post",
                data:$("#addFrm").serialize(),
                success:function () {
                    //layer.msg("添加成功!!!",function(){
                    //准备让父窗口刷新，并且关闭当前弹出的窗体
                    window.parent.location.reload();
                    //});
                }
            });
            return false;
        });

    });
</script>
</body>
</html>