<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>增加车辆</title>
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all">
    <script th:src="@{'/layui/layui.js'}"></script>
    <script th:src="@{'/carDispatchjs/car_dispatch.js'}"></script>
</head>
<body style="margin-left: 70px;margin-top: 10px">
<Br>
<form class="layui-form" id="addFrm"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
    <div class="layui-form-item">
        <label class="layui-form-label">编号</label>
        <div class="layui-input-inline">
            <input type="text" name="carDispatchId" placeholder="请输入任务编号"  required  lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">车辆编号</label>
        <div class="layui-input-inline">
            <input type="text" name="carId" placeholder="请输入车辆编号"  required  lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">配送编号</label>
        <div class="layui-input-inline">
            <input type="text" name="deliverGoodsId" placeholder="请输入配送编号"  required  lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">出车日期</label>
        <div class="layui-input-inline">
            <input type="date" name="carGoDate"  autocomplete="off" required class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">回车日期</label>
        <div class="layui-input-inline">
            <input type="date" name="carBackDate"  autocomplete="off" required class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="gender" value="已调度" title="已调度" checked>
            <input type="radio" name="gender" value="未调度" title="未调度">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    layui.use(['form','jquery','layer'], function(){
        var form = layui.form;
        var $ = layui.$;
        var layer = layui.layer;
        //准备添加数据
        //要使用jquery发出ajax 请求
        //监听提交
        form.on('submit(formDemo)', function(data){
                    $.ajax({
                url:"/dispatchAdd",
                type:"get",
                data:$("#addFrm").serialize(),
                success:function () {
                   //layer.msg("添加成功!!!",function(){
                        //准备让父窗口刷新，并且关闭当前弹出的窗体
                        window.parent.location.reload();
                    //});
                }
            });
            return false;
        });
    });
</script>
</body>
</html>
</body>
</html>