<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>车辆调度表单</title>
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all">
    <script th:src="@{'/layui/layui.js'}"></script>
    <script th:src="@{'/carDispatchjs/car_dispatch.js'}"></script>
</head>
<h1>车辆调度表单</h1>
<body>
<!--搜索界面 -->
<Br>
<div>
    <div class="layui-inline">
        <input class="layui-input" name="carDispatchId" id="carDispatchId" placeholder="搜索条件..."
               autocomplete="off">
    </div>
    <button class="layui-btn" id="search">搜索</button>
    <button class="layui-btn" id="reset">重置</button>
</div>
<table id="demo" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">调度作业</a>
</script>

<script type="text/html" id="addDemo">
    <button class="layui-btn  layui-btn-primary" lay-event="add">
        添加
    </button>
</script>
</body>
</html>