<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script th:src="@{'/layui/layui.js'}"></script>
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}"  media="all">
    <script th:src="@{'/layui/layui.js'}"></script>
    <script th:src="@{'/customerjs/purchase_applly_order.js'}"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<form class="layui-form" action="" id="addFrm" lay-filter="example">
    <div class="layui-form-item">
        <label class="layui-form-label">采购申请单编号</label>
        <div class="layui-inline">
            <input type="text" name="purchaseAppllyOrderId" lay-verify="title" autocomplete="off" placeholder="采购单编号自动生成" class="layui-input" readonly="readonly">
        </div>
    </div>
    <div class="layui-form">
        <div class="layui-form-item">
    <div class="layui-inline">
            <label class="layui-form-label">申请日期</label>
            <div class="layui-inline">
                <input type="text" name="purchaseAppllyOrderBegintime" id="date1" placeholder="yyyy-MM-dd" class="layui-input"  lay-verify="date"
                       autocomplete="off"  required="required" >
            </div>
        </div>
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">预计完成日期</label>
        <div class="layui-inline">
            <input type="text" name="purchaseAppllyOrderEndtime" id="date1-1" placeholder="yyyy-MM-dd" class="layui-input"  lay-verify="date"
                   autocomplete="off"  required="required" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">申请人</label>
        <div class="layui-inline">
            <input type="text" name="purchaseAppllyUserName" lay-verify="title" autocomplete="off" placeholder="申请人" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">价格</label>
        <div class="layui-inline">
            <input type="text" name="purchaseAppllyPrice" lay-verify="title" autocomplete="off" placeholder="价格" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-inline">
            <textarea placeholder="请输入内容" class="layui-textarea" name="purchaseAppllyRemark"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
        </div>
    </div>
</form>
<br>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form','jquery','layer', 'laydate'], function(){
        var form = layui.form;
        var $ = layui.$;
        var layer = layui.layer;
        var laydate = layui.laydate;
        //准备添加数据
        //要使用jquery发出ajax 请求
        laydate.render({
            elem: '#date1'
            ,trigger: 'click'
        });

        //日期时间选择器
        laydate.render({
            elem: '#test5'
            ,type: 'datetime'
            ,trigger: 'click'
        });

        //日期时间选择器
        laydate.render({
            elem: '#test6'
            ,type: 'datetime'
            ,trigger: 'click'
        });

        laydate.render({
            elem: '#date1-1'
            ,trigger: 'click'
        });

        //日期时间选择器
        laydate.render({
            elem: '#test5'
            ,type: 'datetime'
            ,trigger: 'click'
        });

        //日期时间选择器
        laydate.render({
            elem: '#test6'
            ,type: 'datetime'
            ,trigger: 'click'
        });

        //监听提交

        form.on('submit(demo1)', function(data){
            $.ajax({
                url:"/purchaseappllyorderadd",
                type:"get",
                data:$("#addFrm").serialize(),

                success:function () {
                    layer.msg("添加成功!!!",function(){
                        // 准备让父窗口刷新，并且关闭当前弹出的窗体
                        window.parent.location.reload();
                    });
                }
            });
            return false;
        });
    });
</script>
</body>
</html>