<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>采购发送</title>

    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all">
    <script th:src="@{'/layui/layui.js'}"></script>
    <script th:src="@{'/customerjs/purchase_order.js'}"></script>
</head>
<body>

<div align="right">
    <div class="layui-inline">
        <input class="layui-input" name="searchMatterCheckId" id="searchMatterCheckId" placeholder="要搜索的编号"
               autocomplete="off">
    </div>
    <button class="layui-btn" id="search">搜索</button>
</div>


<table id="demo" lay-filter="test"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">同意</a>
</script>




</body>
</html>