<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all">
    <script th:src="@{'/layui/layui.js'}"></script>
    <script th:src="@{'/js/my.js'}"></script>
</head>
<body style="margin-left: 70px;margin-top: 10px">
<Br>
<form class="layui-form" id="addFrm"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->


    <div class="layui-form-item">
        <label class="layui-form-label">编号</label>
        <div class="layui-input-inline">
            <input type="number" name="carId" placeholder="请输入编号"  readonly  lay-verify="readonly" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">车辆类型</label>
        <div class="layui-input-inline">
            <select name="carTypeId" id="carTypeId" lay-verify="required" lay-search="" required="required">
                <option value="" >请选择</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">车牌号</label>
        <div class="layui-input-inline">
            <input type="text" name="carBrand" placeholder="请输入车牌号" required  lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">所属车队</label>
        <div class="layui-input-inline">
            <select name="motorcadeId" id="motorcadeId" lay-verify="required" lay-filter="motorcadeId" lay-search="" required="required">
                <option value="">请选择</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">载重</label>
        <div class="layui-input-inline">
            <input type="number" name="carLoad" placeholder="请输入载重" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">体重</label>
        <div class="layui-input-inline">
            <input type="number" name="carBulk" placeholder="请输入体重" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">车辆状态</label>
        <div class="layui-input-inline">
            <select name="carState" lay-verify="required" lay-search="" required="required">
                <option value="未出车" th:required="required">未出车</option>
                <option value="已出车">已出车</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</form>
<script>
    layui.use(['form','jquery','layer'], function(){
        var form = layui.form;
        var $ = layui.$;
        var layer = layui.layer;
        //准备添加数据
        //要使用jquery发出ajax 请求
        //监听提交
        form.on('submit(formDemo)', function(data){
            $.ajax({
                url:"/addCar",
                type:"get",
                data:$("#addFrm").serialize(),
                success:function () {
                    //layer.msg("添加成功!!!",function(){
                    //准备让父窗口刷新，并且关闭当前弹出的窗体
                    window.parent.location.reload();
                    //});
                }
            });
            return false;
        });

            $.ajax({
                url:"/findCarType",
                type:"get",
                dataType:"json",//返回类型
                success:function(data){
                    //data，即为返回的json,它本身的类型是map
                    //如果json的类型是map,循环取到的内容分别为：key(对应map中的键),value(对应map中的值)

                    $.each(data,function(index,m){
                        $("#carTypeId").append(new Option(m.state,m.id));
                    });

                    layui.form.render("select");
                }
            });


    });
</script>
</body>
</html>
</body>
</html>