<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all">
    <script th:src="@{'/layui/layui.js'}"></script>
    <script th:src="@{'/my.js'}"></script>
</head>
<body style="margin-left: 70px;margin-top: 10px">
<Br>
<form class="layui-form" id="addFrm"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->

    <table>
            <tr>
                <td>
                    <div class="layui-form-item">
                        <label class="layui-form-label">编号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="prepareGoodsId" placeholder="请输入编号"  readonly  lay-verify="readonly" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="layui-form-item">
                        <label class="layui-form-label">采购订单编号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="purchaseOrderId" placeholder="请输入采购订单编号" required  lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="layui-form-item">
                        <label class="layui-form-label">备货日期</label>
                        <div class="layui-input-inline">
                            <input type="date" name="prepareGoodsTime"  autocomplete="off" required class="layui-input">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="layui-form-item">
                        <label class="layui-form-label">备货人</label>
                        <div class="layui-input-inline">
                            <input type="text" name="prepareGoodsUserId" placeholder="请输入备货人" required lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </td>
            </tr>
        <tr>
            <td>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="prepareGoodsStatus" lay-verify="required" lay-search="" required="required">
                            <option value="状态1" th:required="required">状态1</option>
                            <option value="状态2">状态2</option>
                        </select>
                    </div>
                </div>
            </td>
            <td>
                <div class="layui-form-item">
                    <label class="layui-form-label">流程实例id</label>
                    <div class="layui-input-inline">
                        <input type="text" name="processinstanceId" placeholder="请输入流程实例id" required lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </td>
        </tr>

    <table id="demo5" lay-filter="test"></table>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</form>
<script src="layui.js"></script>
<script>
    layui.use(['form','jquery','layer'], function(){
        var form = layui.form;
        var $ = layui.$;
        var layer = layui.layer;
        //准备添加数据
        //要使用jquery发出ajax 请求
        //监听提交
        form.on('submit(formDemo)', function(data){
            $.ajax({
                url:"/addPrepareGoods",
                type:"get",
                data:$("#addFrm").serialize(),
                success:function () {
                    //layer.msg("添加成功!!!",function(){
                    //准备让父窗口刷新，并且关闭当前弹出的窗体
                    window.parent.location.reload();
                    //});
                }
            });
            return false;
        });
    });
</script>
</body>
</html>
</body>
</html>