<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}" media="all">
    <script th:src="@{'/layui/layui.js'}"></script>
    <script th:src="@{'/js/jquery-1.12.4.js'}" type="text/javascript"></script>
</head>
<body style="margin-left: 70px;margin-top: 10px">
<Br>
<form class="layui-form" id="addFrm"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
    <div class="layui-form-item">
        <label class="layui-form-label">编号</label>
        <div class="layui-input-inline">
            <input type="text" name="warehouseId" placeholder="自动生成"  readonly  lay-verify="readonly" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-inline">
            <input type="text" name="warehouseName" placeholder="请输入名称" required  lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">面积</label>
        <div class="layui-input-inline">
            <input type="number" name="warehouseArea" placeholder="请输入面积" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-inline">
            <select name="warehouseType" id="warehouseType" lay-verify="required" lay-search="" required="required">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">地址</label>
            <div class="layui-inline">
                <select name="province" id="province" lay-verify="required" lay-search lay-filter="province">
                    <option value="">省份</option>
                </select>
            </div>
            <div class="layui-inline">
                <select name="city" id="city" lay-verify="required" lay-search lay-filter="city">
                    <option value="">地级市</option>
                </select>
            </div>
            <div class="layui-inline">
                <select name="district" id="district" lay-verify="required" lay-search>
                    <option value="">县/区</option>
                </select>
            </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否可用</label>
        <div class="layui-input-inline">
            <select name="warehouseEnable" lay-verify="required" lay-search="" required="required">
            <option value="可用" th:required="required">可用</option>
            <option value="不可用">不可用</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">创建时间</label>
        <div class="layui-input-inline">
            <input type="date" name="warehouseBuildDate"  autocomplete="off" required class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">仓库管理员编号</label>
        <div class="layui-input-inline">
            <input type="text" name="warehouseManager" placeholder="请输仓库管理员编号" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</form>
<script>
    layui.use(['form','jquery','layer'], function(){
        var form = layui.form;
        var $ = layui.$;
        var layer = layui.layer;
        //准备添加数据
        //要使用jquery发出ajax 请求
        //监听提交
        form.on('submit(formDemo)', function(data){
            $.ajax({
                url:"/addWarehouse",
                type:"get",
                data:$("#addFrm").serialize(),
                success:function () {
                    //layer.msg("添加成功!!!",function(){
                    //准备让父窗口刷新，并且关闭当前弹出的窗体
                    window.parent.location.reload();
                    //});
                }
            });
            return false;
        });

        $.ajax({
            url:"/findWarehouseType",
            type:"get",
            dataType:"json",//返回类型
            success:function(data){
                //data，即为返回的json,它本身的类型是map
                //如果json的类型是map,循环取到的内容分别为：key(对应map中的键),value(对应map中的值)

                $.each(data,function(index,m){
                    $("#warehouseType").append(new Option(m.state,m.state));
                });
                layui.form.render("select");
            }
        });

    });
</script>
</body>
<script th:src="@{'/js/area.js'}" type="text/javascript"></script>
<script th:src="@{'/js/select.js'}" type="text/javascript"></script>
</html>
