<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.CustomerMapper">
  <resultMap id="BaseResultMap" type="org.java.entity.Customer">
    <id column="customer_id" jdbcType="VARCHAR" property="customer_id" />
    <result column="customer_shortName" jdbcType="VARCHAR" property="customer_shortName" />
    <result column="customer_vocation_id" jdbcType="INTEGER" property="customer_vocation_id" />
    <result column="customer_contacts" jdbcType="VARCHAR" property="customer_contacts" />
    <result column="customer_creditIimit" jdbcType="INTEGER" property="customer_creditIimit" />
    <result column="customer_email" jdbcType="VARCHAR" property="customer_email" />
    <result column="customer_address" jdbcType="VARCHAR" property="customer_address" />
    <result column="customer_name" jdbcType="VARCHAR" property="customer_name" />
    <result column="customer_pwd" jdbcType="VARCHAR" property="customer_pwd" />
    <result column="customer_telephone" jdbcType="INTEGER" property="customer_telephone" />
  </resultMap>
  <sql id="Base_Column_List">
   customer_id, customer_shortName, customer_vocation_id, customer_contacts, customer_creditIimit,
   customer_email,customer_address,customer_name,customer_pwd,customer_telephone
   </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from customer
    where customer_id = #{customer_id,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="org.java.entity.Customer">
    insert into customer (customer_id, customer_name, customer_pwd,
      customer_shortName, customer_vocation_id, customer_telephone,customer_contacts,customer_creditIimit,customer_email,customer_address)
    values (#{customer_id,jdbcType=VARCHAR}, #{customer_name,jdbcType=VARCHAR}, #{customer_pwd,jdbcType=VARCHAR},
      #{customer_shortName,jdbcType=VARCHAR}, #{customer_vocation_id,jdbcType=INTEGER}, #{customer_telephone,jdbcType=INTEGER},#{customer_contacts,jdbcType=VARCHAR},#{customer_creditIimit,jdbcType=INTEGER},
     #{customer_email,jdbcType=VARCHAR},#{customer_address,jdbcType=VARCHAR} )
  </insert>
  <insert id="insertSelective" parameterType="org.java.entity.Customer">
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customer_id != null">
        customer_id,
      </if>
      <if test="customer_name != null">
        customer_name,
      </if>
      <if test="customer_pwd != null">
        customer_pwd,
      </if>
      <if test="customer_shortName != null">
        customer_shortName,
      </if>
      <if test="customer_vocation_id != null">
        customer_vocation_id,
      </if>
      <if test="customer_telephone != null">
        customer_telephone,
      </if>
      <if test="customer_contacts != null">
        customer_contacts,
      </if>
      <if test="customer_creditIimit != null">
        customer_creditIimit,
      </if>
      <if test="customer_email != null">
        customer_email,
      </if>
      <if test="customer_address != null">
        customer_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customer_id != null">
        #{customer_id,jdbcType=VARCHAR},
      </if>
      <if test="customer_name != null">
        #{customer_name,jdbcType=VARCHAR},
      </if>
      <if test="customer_pwd != null">
        #{customer_pwd,jdbcType=VARCHAR},
      </if>
      <if test="customer_shortName != null">
        #{customer_shortName,jdbcType=VARCHAR},
      </if>
      <if test="customer_vocation_id != null">
        #{customer_vocation_id,jdbcType=INTEGER},
      </if>
      <if test="customer_telephone != null">
        #{customer_telephone,jdbcType=INTEGER},
      </if>
      <if test="customer_contacts != null">
        #{customer_contacts,jdbcType=VARCHAR},
      </if>
      <if test="customer_creditIimit != null">
        #{customer_creditIimit,jdbcType=INTEGER},
      </if>
      <if test="customer_email != null">
        #{customer_email,jdbcType=VARCHAR},
      </if>
      <if test="customer_address != null">
        #{customer_address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.java.entity.Customer">
    update customer
    <set>
      <if test="customer_name != null">
        customer_name = #{customer_name,jdbcType=VARCHAR},
      </if>
      <if test="customer_pwd != null">
        supplier_pwd = #{customer_pwd,jdbcType=VARCHAR},
      </if>
      <if test="customer_shortName != null">
        customer_shortName = #{customer_shortName,jdbcType=VARCHAR},
      </if>
      <if test="customer_vocation_id != null">
        customer_vocation_id = #{customer_vocation_id,jdbcType=INTEGER},
      </if>
      <if test="customer_contacts != null">
        customer_contacts = #{customer_contacts,jdbcType=VARCHAR},
      </if>
      <if test="customer_creditIimit != null">
        customer_creditIimit = #{customer_creditIimit,jdbcType=INTEGER},
      </if>
      <if test="customer_email != null">
        customer_email = #{customer_email,jdbcType=VARCHAR},
      </if>
      <if test="customer_address != null">
        customer_address = #{customer_address,jdbcType=VARCHAR},
      </if>
      <if test="customer_telephone != null">
        customer_telephone = #{customer_telephone,jdbcType=INTEGER},
      </if>

    </set>
    where customer_id = #{customer_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.java.entity.Customer">
    update customer
    set customer_shortName = #{customer_shortName,jdbcType=VARCHAR},
      customer_vocation_id = #{customer_vocation_id,jdbcType=VARCHAR},
      customer_contacts = #{customer_contacts,jdbcType=VARCHAR},
      customer_email = #{customer_email,jdbcType=INTEGER},
      customer_address = #{customer_address,jdbcType=VARCHAR},
      customer_name = #{customer_name,jdbcType=INTEGER},
      customer_creditIimit = #{customer_creditIimit,jdbcType=VARCHAR},
      customer_pwd = #{customer_pwd,jdbcType=VARCHAR}
      customer_telephone = #{customer_telephone,jdbcType=INTEGER}
    where supplier_id = #{supplierId,jdbcType=VARCHAR}
  </update>
  <select id="getList" resultType="Customer">
      select * from customer limit #{start},#{rows}
  </select>
  <!--查询总数-->
  <select id="getCount" resultType="int">
    select count(*) from customer
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from customer
    where customer_id = #{customer_id,jdbcType=VARCHAR}
  </delete>

</mapper>
