<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.dao.MatterCheckMapper">
  <resultMap id="BaseResultMap" type="org.java.entity.MatterCheck">
    <id column="matter_check_id" jdbcType="VARCHAR" property="matterCheckId" />
    <result column="warehouse_position_id" jdbcType="VARCHAR" property="warehousePositionId" />
    <result column="matter_check_user_id" jdbcType="VARCHAR" property="matterCheckUserId" />
    <result column="matter_check_date" jdbcType="DATE" property="matterCheckDate" />
    <result column="matter_check_result" jdbcType="VARCHAR" property="matterCheckResult" />
    <result column="temperature_check" jdbcType="VARCHAR" property="temperatureCheck" />
    <result column="humidity_check" jdbcType="VARCHAR" property="humidityCheck" />
    <result column="sanitation_check" jdbcType="VARCHAR" property="sanitationCheck" />
    <result column="metamorphic_check" jdbcType="VARCHAR" property="metamorphicCheck" />
    <result column="wearout_check" jdbcType="VARCHAR" property="wearoutCheck" />
  </resultMap>
  <sql id="Base_Column_List">
    matter_check_id, warehouse_position_id, matter_check_user_id, matter_check_date, 
    matter_check_result, temperature_check, humidity_check, sanitation_check, metamorphic_check, 
    wearout_check
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from matter_check
    where matter_check_id = #{matterCheckId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from matter_check
    where matter_check_id = #{matterCheckId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.java.entity.MatterCheck">
    insert into matter_check (matter_check_id, warehouse_position_id, 
      matter_check_user_id, matter_check_date, matter_check_result, 
      temperature_check, humidity_check, sanitation_check, 
      metamorphic_check, wearout_check)
    values (#{matterCheckId,jdbcType=VARCHAR}, #{warehousePositionId,jdbcType=VARCHAR}, 
      #{matterCheckUserId,jdbcType=VARCHAR}, #{matterCheckDate,jdbcType=DATE}, #{matterCheckResult,jdbcType=VARCHAR}, 
      #{temperatureCheck,jdbcType=VARCHAR}, #{humidityCheck,jdbcType=VARCHAR}, #{sanitationCheck,jdbcType=VARCHAR}, 
      #{metamorphicCheck,jdbcType=VARCHAR}, #{wearoutCheck,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.java.entity.MatterCheck">
    insert into matter_check
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="matterCheckId != null">
        matter_check_id,
      </if>
      <if test="warehousePositionId != null">
        warehouse_position_id,
      </if>
      <if test="matterCheckUserId != null">
        matter_check_user_id,
      </if>
      <if test="matterCheckDate != null">
        matter_check_date,
      </if>
      <if test="matterCheckResult != null">
        matter_check_result,
      </if>
      <if test="temperatureCheck != null">
        temperature_check,
      </if>
      <if test="humidityCheck != null">
        humidity_check,
      </if>
      <if test="sanitationCheck != null">
        sanitation_check,
      </if>
      <if test="metamorphicCheck != null">
        metamorphic_check,
      </if>
      <if test="wearoutCheck != null">
        wearout_check,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="matterCheckId != null">
        #{matterCheckId,jdbcType=VARCHAR},
      </if>
      <if test="warehousePositionId != null">
        #{warehousePositionId,jdbcType=VARCHAR},
      </if>
      <if test="matterCheckUserId != null">
        #{matterCheckUserId,jdbcType=VARCHAR},
      </if>
      <if test="matterCheckDate != null">
        #{matterCheckDate,jdbcType=DATE},
      </if>
      <if test="matterCheckResult != null">
        #{matterCheckResult,jdbcType=VARCHAR},
      </if>
      <if test="temperatureCheck != null">
        #{temperatureCheck,jdbcType=VARCHAR},
      </if>
      <if test="humidityCheck != null">
        #{humidityCheck,jdbcType=VARCHAR},
      </if>
      <if test="sanitationCheck != null">
        #{sanitationCheck,jdbcType=VARCHAR},
      </if>
      <if test="metamorphicCheck != null">
        #{metamorphicCheck,jdbcType=VARCHAR},
      </if>
      <if test="wearoutCheck != null">
        #{wearoutCheck,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.java.entity.MatterCheck">
    update matter_check
    <set>
      <if test="warehousePositionId != null">
        warehouse_position_id = #{warehousePositionId,jdbcType=VARCHAR},
      </if>
      <if test="matterCheckUserId != null">
        matter_check_user_id = #{matterCheckUserId,jdbcType=VARCHAR},
      </if>
      <if test="matterCheckDate != null">
        matter_check_date = #{matterCheckDate,jdbcType=DATE},
      </if>
      <if test="matterCheckResult != null">
        matter_check_result = #{matterCheckResult,jdbcType=VARCHAR},
      </if>
      <if test="temperatureCheck != null">
        temperature_check = #{temperatureCheck,jdbcType=VARCHAR},
      </if>
      <if test="humidityCheck != null">
        humidity_check = #{humidityCheck,jdbcType=VARCHAR},
      </if>
      <if test="sanitationCheck != null">
        sanitation_check = #{sanitationCheck,jdbcType=VARCHAR},
      </if>
      <if test="metamorphicCheck != null">
        metamorphic_check = #{metamorphicCheck,jdbcType=VARCHAR},
      </if>
      <if test="wearoutCheck != null">
        wearout_check = #{wearoutCheck,jdbcType=VARCHAR},
      </if>
    </set>
    where matter_check_id = #{matterCheckId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.java.entity.MatterCheck">
    update matter_check
    set warehouse_position_id = #{warehousePositionId,jdbcType=VARCHAR},
      matter_check_user_id = #{matterCheckUserId,jdbcType=VARCHAR},
      matter_check_date = #{matterCheckDate,jdbcType=DATE},
      matter_check_result = #{matterCheckResult,jdbcType=VARCHAR},
      temperature_check = #{temperatureCheck,jdbcType=VARCHAR},
      humidity_check = #{humidityCheck,jdbcType=VARCHAR},
      sanitation_check = #{sanitationCheck,jdbcType=VARCHAR},
      metamorphic_check = #{metamorphicCheck,jdbcType=VARCHAR},
      wearout_check = #{wearoutCheck,jdbcType=VARCHAR}
    where matter_check_id = #{matterCheckId,jdbcType=VARCHAR}
  </update>
  <select id="findMatterCheck" resultMap="BaseResultMap">
    select * from matter_check
  </select>
  <select id="findMatterCheckCount" resultType="java.lang.Integer">
    select count(*) from matter_check
  </select>
</mapper>