<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Title</title>
    <link th:href="@{'/layui/css/layui.css'}" type="text/css" rel="stylesheet">
    <script th:src="@{'/layui/layui.js'}" type="text/javascript"></script>
</head>
<body>
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>编号</th>
        <th>任务ID</th>
        <th>所属流程实例ID</th>
        <th>任务名称</th>
        <th>办理人</th>
        <th>开始时间</th>
        <th>结束时间</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="l,st:${list}" align="center">
        <td th:text="${st.count}"></td>
        <td th:text="${l.id}"></td>
        <td th:text="${l.processInstanceId}"></td>
        <td th:text="${l.name}"></td>
        <td th:text="${l.assignee}"></td>
        <td th:text="${#dates.format(l.createTime,'yyyy-MM-dd')}"></td>
        <td th:text="${#dates.format(l.endTime,'yyyy-MM-dd')}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>