<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Title</title>
    <link th:href="@{'/layui/css/layui.css'}" type="text/css" rel="stylesheet">
    <script th:src="@{'/layui/layui.js'}" type="text/javascript"></script>
</head>
<body>
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>序号</th>
        <th>任务名称</th>
        <th>采购单名称</th>
        <th>采购金额</th>
        <th>采购详情</th>
        <th>任务创建人</th>
        <th>任务开始时间</th>
        <th>处理任务</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="l,st:${list}" align="center">
        <td th:text="${st.count}"></td>
        <td th:text="${l.taskName}"></td>
        <td th:text="${l.name}"></td>
        <td th:text="${l.price}"></td>
        <td th:text="${l.content}"></td>
        <td th:text="${l.user_id}"></td>
        <td th:text="${#dates.format(l.createtime,'yyyy-MM-dd')}"></td>
        <td><b th:if="${l.taskDefinitionKey=='createOrder'}">
            <a th:href="@{|/submitorder/${l.taskId}/${l.price}|}" class="layui-btn">提交采购单</a>
            </b>
            <b th:if="${l.taskDefinitionKey=='firstAudit'}">
                <a th:href="@{|/audit/${l.taskId}/${l.id}/${l.taskDefinitionKey}|}" class="layui-btn">部门经理审核</a>
            </b>
            <b th:if="${l.taskDefinitionKey=='secondAudit'}">
                <a th:href="@{|/audit/${l.taskId}/${l.id}/${l.taskDefinitionKey}|}" class="layui-btn">校长审核</a>
            </b>
            <b th:if="${l.taskDefinitionKey=='thirdAudit'}">
                <a th:href="@{|/audit/${l.taskId}/${l.id}/${l.taskDefinitionKey}|}" class="layui-btn">财务审核</a>
            </b>
            <b th:if="${l.taskDefinitionKey=='storage'}">
                <a th:href="@{|/storage/${l.taskId}|}" class="layui-btn">采购入库</a>
            </b>
            <b th:if="${l.taskDefinitionKey=='settlement'}">
                <a th:href="@{|/settlement/${l.taskId}|}" class="layui-btn">财务结算</a>
            </b>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>